@media (max-width: 1042px) {

  /* NOTE: Container-top */
  .cristina {
    left: 40%;
  }

  .nav {
    left: 30%;
    top: 5vh;
    height: 1rem;
  }

  /* NOTE: Container-contents */
  .contents {
    padding: 0;
  }

  .container-top {
    height: 50rem;
    }

  .cloud1 {
    visibility: hidden;
  }

  .cloud2 {
    margin: auto;
    bottom: 20rem;
  }

  /* NOTE: About Me */
  .p-middle {
    left: 15%;
  }
}
